ul {
    padding: 0px;
    margin: 0px;
}

.clearfix {
    clear: both;
}

#menu1 ul {
    color: blue;
    list-style-position: inside;
}

#menu1 a:link,
#menu1 a:visited {
    text-decoration: none;
    color: blue;
    font: 13px Arial;
}

#menu1 a:hover {
    text-decoration: underline;
    color: red;
}

#menu2 ul {
    list-style-type: none;
    width: 200px
}

#menu2 li {
    margin-bottom: 5px;
}

#menu2 a:link,
#menu2 a:visited {
    text-decoration: none;
    color: blue;
    font: 13px Arial;
    border: 1px solid blue;
    display: block;
    padding: 0px 5px;
    line-height: 30px;
}

#menu2 a:hover {
    font-weight: bold
}

#menu3 ul {
    list-style-type: none;
    width: 200px;
}

#menu3 li {
    margin-bottom: 5px;
}

#menu3 a:link,
#menu3 a:visited {
    text-decoration: none;
    color: white;
    font: 13px Arial;
    border: 1px solid black;
    display: block;
    padding: 0px 5px;
    line-height: 30px;
    background-color: #484848;
    font-weight: bold
}

#menu3 a:hover {
    background-color: #fff;
    color: black
}

#menu4 ul {
    list-style-type: none;
    width: 200px;
}

#menu4 li {
    margin-bottom: 5px;
}

#menu4 a:link,
#menu4 a:visited {
    text-decoration: none;
    color: white;
    font: 13px Arial;
    border: 1px solid #0081E7;
    display: block;
    padding: 0px 5px;
    line-height: 30px;
    background-color: #0081E7;
    font-weight: bold
}

#menu4 a:hover,
#menu4 a.active {
    color: blue;
    background: #fff url(images/blue.png) no-repeat 90% center;
}

#menu5 ul {
    list-style-type: none;
}

#menu5 li {
    margin-right: 4px;
    float: left;
}

#menu5 a:link,
#menu5 a:visited {
    text-decoration: none;
    color: blue;
    font: 13px Arial;
    border: 1px solid #1A31A2;
    padding: 5px;
}

#menu5 a:hover,
#menu5 a.active {
    color: red;
}

#menu6 ul {
    list-style-type: none
}

#menu6 li {
    display: inline-block;
}

#menu6 a:link,
#menu6 a:visited {
    text-decoration: none;
    color: blue;
    font: 13px Arial;
    border: 1px solid #1A31A2;
    padding: 5px;
}

#menu6 a:hover,
#menu6 a.active {
    color: #fff;
    background-color: #484848;
    border: 1px solid black;
}

#menu7 ul {
    list-style-type: none;
}

#menu7 li {
    margin-right: 13px;
    display: inline-block;
}

#menu7 a {
    padding-top: 30px;
    display: block;
}

#menu7 a:link,
#menu7 a:visited {
    color: #CBCBCB;
    text-decoration: none
}

#menu7 a:hover {
    color: #039CFF
}

#menu7 .l1 a:link,
#menu7 .l1 a:visited {
    background: url(img/1.png) no-repeat top center;
}

#menu7 .l2 a:link,
#menu7 .l2 a:visited {
    background: url(img/2.png) no-repeat top center;
}

#menu7 .l3 a:link,
#menu7 .l3 a:visited {
    background: url(img/3.png) no-repeat top center;
}

#menu7 .l4 a:link,
#menu7 .l4 a:visited {
    background: url(img/4.png) no-repeat top center;
}

#menu7 .l5 a:link,
#menu7 .l5 a:visited {
    background: url(img/5.png) no-repeat top center;
}

#menu7 .l1 a:hover {
    background: url(img/1-h.png) no-repeat top center;
}

#menu7 .l2 a:hover {
    background: url(img/2-h.png) no-repeat top center;
}

#menu7 .l3 a:hover {
    background: url(img/3-h.png) no-repeat top center;
}

#menu7 .l4 a:hover {
    background: url(img/4-h.png) no-repeat top center;
}

#menu7 .l5 a:hover {
    background: url(img/5-h.png) no-repeat top center;
}

#menu8 {
    width: 100%;
    background-color: #FC9D00;
    font-family: Arial;
}

#menu8 li {
    display: inline-block;
}

#menu8 a:link,
#menu8 a:visited {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 0px 13px;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
}

#menu8 a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #E93301;
}

#menu8 ul {
    margin-left: 13px;
    padding: 0px;
}

#menu9 a:link,
#menu9 a:visited {
    color: #506361;
    text-decoration: none;
}

#menu9 a:hover {
    color: #506361;
    text-decoration: underline;
}

#menu9 a.holiday:link,
#menu9 a.holiday:visited {
    color: #8CA2C1;
}

#menu9 a {
    font-family: Arial;
    font-size: 12px;
    line-height: 1;
}

#menu9 {
    width: 150px;
    margin: 20px 0px;
}

#menu9 table {
    width: 100%;
    height: 100%;
}

#menu9 td {
    text-align: center;
}

#menu9 th {
    border-bottom: 1px solid #000000;
}

#menu9 a.active {
    color: red;
    font-weight: bold;
}